html {
    font-size: 16px
}

body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(1, 1, 2);
    background-color: var(--mdc-theme-text-primary-on-light);
}

.mdc-toolbar.big {
    padding-top: 3rem;
}

.mdc-toolbar {
    padding: 0 2rem;
    background-color: var(--mdc-theme-text-primary-on-light);
    z-index: 2;
    transition: all 500ms;
}

.mdc-toolbar__title a {
    font-family:    "Monopol", "Roboto", "Helvetica", sans-serif;
    font-weight:   600;
    font-size: 1.25rem;
    letter-spacing: 0;
    text-decoration: none;
    color: var(--mdc-theme-text-primary-on-primary);
    transition: all 500ms;
}

.mdc-toolbar.big .mdc-toolbar__title a {
    margin-top: 1rem;
    font-size: 4rem;
    transition: all 500ms;
}


.mdc-toolbar .links a {
    color: var(--mdc-theme-accent);
}

.mdc-toolbar .flags {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
}

.mdc-toolbar .flags img {
    width: 1rem;
    cursor: pointer;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 5rem;
    height: calc(100vh - 4rem);
    color: var(--mdc-theme-text-primary-on-primary);
    background-color: var(--mdc-theme-text-primary-on-light);
}

#hero svg {
    height: 66vh;
    max-width: 100vw;
}

#hero a {
    color: var(--mdc-theme-accent);
}

section#about, section#contact {
    background-color: var(--mdc-theme-background);
}

section#technology {
    background-color: var(--mdc-theme-text-primary-on-light);
    color: var(--mdc-theme-background);
    z-index: 1;
    position: relative;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

section.category .mdc-typography--body1 {
    font-size: 1rem;
    line-height: 1.25rem;
}

section#contact .mdc-typography--body1 {
    font-size: 1.5625rem;
    line-height: 1.953125rem;
}

section.category {
    display: flex;
    height: calc(50vh - 2rem);
    width: 100%;
}

section.category > div {
    width: 50%;
}

div.text > div, div.text > p {
    padding: 2rem; 
}

div.image {
    background-size: cover;
}

div.image.contain {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

section.text .mdc-typography--body1 {
    font-size: 1rem;
    line-height: 1.5625rem;
}

section.text img {
    width: 100%;
    filter: grayscale(0.8);
    transition: all 10s;
}

section.text:hover img {
    filter: grayscale(0.0);
    transition: all 0.3s;
}

@media screen and (max-width: 420px)  {
    header > h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    button#menu {
        width: 2rem;
        height: 2rem;
    }

    button#menu > i {
        font-size: 1.5rem;
        width: 1.5rem;
        left: 50%;
    }

    header > div {
        margin: 1.44rem 1rem;
    }

    .about .wide-card {
        height: 40rem;
    }

    .contact .wide-card {
        height: 23rem;
    }

    .contact .wide-card h4 {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}

@media screen and (max-width: 320px)  {
    .about .wide-card {
        height: 45rem;
    }

    .contact .wide-card h4 {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 480px)  {
    .about .wide-card {
        height: 35rem;
    }
}

@media screen and (max-width: 600px)  {
    .about .wide-card {
        height: 31rem;
    }
}

@media screen and (max-width: 800px)  {
    .about .wide-card {
        height: 30rem;
    }

}

@media screen and (min-width: 1440px) {
    html {
        font-size: 20px;
    }

    button#menu > i {
        left: 38%;
    }

    .contact > .wide-card {
        height: 27rem;
    }
}


@media screen and (min-width: 1920px) {
    html {
        font-size: 24px;
    }

    button#menu > i {
        left: 35%;
    }
}

@media screen and (width: 1024px) and (height: 768px) {
    .standard-card {
        height: 15rem;
        width: 43vw;
    }

    .mdl-card__title {
        height: 12rem;
    }

    .technology .standard-card .mdl-card__title {
        background-size: 80%;
    }
}

footer {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    color: var(--mdc-theme-text-primary-on-primary);
}
